#A {
    color :rgb(21, 167, 212); 
    font-family: "Times New Roman", Times, serif;
    font-size: 70px;
   }
#B {
    color : Red; 
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    }
#BC {
    color : red;
    }
#BD {
    color : blue;
    }
#BE {
    color : red;
    }
#p  {
    color : rgb(69, 201, 224);
    font-size: 20px;
    }
#pa  {
    color : rgb(66, 167, 244);
    font-size: 30px;
    }
#gg {
    color : rgb(10, 177, 206);
}
body {
  background-image: url("download2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
 nav li{
list-style: none;
display: inline-block;
font-size: 20px;
padding: 15px;
}
 nav {
background-color: aqua;
text-align: center;
}
 .homepageImg {
display: block;
margin: auto;
}
#co {
  font-size: 30px;
}
#navi {
  
}
#gree {
  color : green;
}
#gree1 {
  color : blue;
}
table {
   
}
}
